{% extends 'base.html' %}
{% load myfilters %}
{% load humanize %}


{% block container %}
    <div class="table-responsive">
    <table class="table">

        {% for task in task_list %}
            <tr style="opacity:{{ task|trans_task }};">
                {% with  task.deadline_type.0|to_tr_class  as color %}
                    <td>
                        <a href="{% url "pomodoro-do" task.pk %}">
                            <button type="button" class="btn btn-{{ color }}" style="width:100%;">
                                {{ task.title }}
                            </button>
                        </a>

                    </td>
                    <td style="width:200px">

                        <button type="button" class="btn btn-{{ color }}" style="width:100%;">
                            {{ task.deadline_type.1 }} (
                            <small>{{ task.deadline|naturalday }}</small>
                            )
                        </button>
                        </a>
                    </td>

                {% endwith %}
            </tr>
        {% endfor %}
    </table>


    <div class="table-responsive">
        {% for list in lists %}
            <h2>List: {{ list.title }}</h2>
            <table class="table">
                {% for task in list.incomplete_tasks %}
                    <tr>
                        <td>



                                {#                            <a href="{% url "pomodoro-do" task.id %}">#}
                                <button type="button" class="btn btn-{{ color }}"  style="width:100%; max-width: 100%; white-space:normal !important;">
                                    {{ task.title }}

                                </button>
{#                                <button type="button" class="btn btn-{{ color }}">#}
{#                        </td>#}
{#                        <td style="width:200px" class="text-center">#}
{#                            <a href="#">#}
{#                                <button type="button" class="btn btn-{{ color }}" style="width:100%; ">#}
{#                                    <small>{{ task.due_date }}</small>#}
{#                                </button>#}
{#                            </a>#}
{#                                    </button>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
        {% endfor %}


    </div>
{% endblock %}

